@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --font-padrão: arial, Verdana, sans-serif;
    --fonte-destaque: 'Work Sans', sans-serif;
    --fonte-android: 'android', arial;
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background: var(--cor00);
}

a.externo::after{
    content: '\1F517';
}

header {
    background-image:linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color:white;
    font-family: var(--font-padrão);
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.437);
}

header > p{
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.3em;
    font-weight: 400;
    max-width: 500px;
    margin: auto;
    padding-bottom: 35px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.437);
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.437);
}

nav > a {
    color: var(--cor01);
    font-weight: 900;
    font-size: 1.2em;
    padding: 10px;
    text-decoration: none;

    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor04);
    border-radius: 10px;
}

main{
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.386);
    border-radius: 0px 0px 10px 10px;
}

main > article > h1{
    color: var(--cor05);
    font-family: var(--fonte-android);
}

main > article > h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 5px;
    background-image: linear-gradient(to right, var(--cor01), transparent);
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor04);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 4px;
    border-radius: 5px;
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor02);
}

main > article > img{
    width: 100%;
}

main > article > img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;

}

aside > h3{
    color: white;
    background-color: #063d1e;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    color: var(--cor01);
}
